h1, h2 {
    text-align: center;
    
}

#template_b {
    height: 400px;
    width: 400px;
    background-color: aqua;

    margin: left;
    padding: 5px;
}


#burger {
    text-align: center;
}

#food_text{
    font-size: 20px;
    font-weight: bold;
}

#b_img {
    width: 50%;
}
/*
#b_video {
    height: 200px;
}

.list {
    border-radius: 10%;
    width: 0px;
    height: 10px;
    margin: 20px;
}
*/

#template_p {
    background-color: aqua;
    width: 400px;
    height: 400px;
    margin-left: 1015px;
    margin-top: -29%;
    padding: 5px;
}

#pizza {
    text-align: center;
    padding: 5px;
}

#p_img {
    width: 50%;
}